﻿<tr>
    <td>
        ${ID}
    </td>
    <td>
        ${ClientName}
    </td>
    <td>
        ${Car}
    </td>
    <td>        
        ${Status}
    </td>
    <td>
        <a href="#" class="button" entityID="${ID}">Delete</a>
    </td>
</tr>