﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ClientControl.ascx.cs" Inherits="Controls_ClientControl" %>
        <div>
            <asp:Label runat="server" Text="Name"></asp:Label>
            <asp:TextBox runat="server" ID ="txtName"></asp:TextBox>
        </div>
        <div>
            <asp:Label runat="server" Text="Surname"></asp:Label>
            <asp:TextBox runat="server" ID ="txtSurname"></asp:TextBox>
        </div>
        <div>
            <asp:Label runat="server" Text="Phone"></asp:Label>
            <asp:TextBox runat="server" ID ="txtPhone"></asp:TextBox>
        </div>
